@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

:root{
    --signature-color: #1f1f21;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: var(--signature-color);
    color: #ffffff;
    font-family: poppins, sans-serif;
    scroll-behavior: smooth;
}
body{
    height: auto;
    max-width: 100%;
    width: fit-content;
    margin: 0 auto;
    padding: 0px 80px;
}

a{
    text-decoration: none;
    color: white;
}

.hero{
    min-height: 650px;
    margin: 0 auto;
}

.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px;
}
.logo{
    font-size: 3rem;
    font-family: kaushan script, poppins;
}

.logo a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a img{
    width: 200px;
    height: 100px;
    object-fit: cover;
    clip-path: path(M 0,50 L 150,50 L 150,100 L 0,100 L 0.100 L 0,50 Z);
    border-radius: 50px 10px 50px 10px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.hero-content-container{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.hero-title-primary{
    max-width: 440px;
    height: auto;
    font-size: 5rem;
    line-height: 80px;
    letter-spacing: 7px;
}

.hero-second-title-container{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: -20px;
    margin-left: 3px;
}

.hero-miniparagraph{
    max-width: 20%;
    font-size: 0.9rem;
}

.hero-title-secondary{
    font-size: 5rem;
}

.hero-ending{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.scroll-to-explore{
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-to-explore > .scroll-icon{
    margin-left: 10px;
    border-bottom: solid 1.5px white;
}

.card-container{
    height: max-content;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.1em;
    overflow: hidden;

}

.card{
    flex: 0 0 auto;
    width: 280px;
    height: 350px;
    background-color: hsl(0, 0%, 5%);
    clip-path: path("M 0,30 A 30,30 0,0,1 30,15 L 150,15 A 30,30 0,0,1 180,0 L 250,0 A 30,30 0,0,1 280,30 L 280,320 A 30,30 0,0,1 250,350 L 30,350 A 30,30 0,0,1 0,320 L 0,30 Z");
    padding: 40px 40px;
}

.card-image{
    min-height: 80px;
    max-width: 70px;
    border-radius: 1000%;
    border-bottom: hsl(300, 100%, 35%) solid 3px;
    margin: 5px 0px 10px 0px;
    object-fit: cover;
}

.card-title{
    font-size: 2.4rem;
    font-weight: 600;
    text-wrap: wrap;
    margin-bottom: 10px;
    font-family: dosis, Poppins, sans-serif;
}

.card-hr{
    width: 100%;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.card-description{
    font-size: 0.7rem;
    letter-spacing: 1.25px;
}

.card-description:nth-last-child(1){
    font-weight: bold;
}
.card-icon-container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    margin-bottom: 10px;
}

#card-2{
    background-color: #8A3FFC;
    color: var(--signature-color);
}

#card-hr-2{
    border: var(--signature-color) solid 1px;
}

.card-icon-container .card-icon{
    height: 60px;
    width: 60px;
    padding: 15px;
    overflow: visible;
    background-color: var(--signature-color);
    border-radius: 50px;
    border: solid #8A3FFC 3px;
    margin-right: -15px;
}

.card-icon-container .card-icon:nth-child(2){
    transform: rotate(90deg);
}
.card-icon-container .card-icon:nth-child(3), .card-icon-container .card-icon:nth-child(4){
    z-index: 3;
}

.card-title-container{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
}

.card-title-1{
    font-size: 5.8rem;
    font-family: dosis, Poppins, sans-serif;
}
.card-title-2{
    width: 20px;
    height: fit-content;
    text-wrap: wrap;
    font-size: 1.8rem;
    font-weight: bold;
    word-spacing: -55px;
    margin-top: 13px;
    margin-left: 5px;
}

#card-3{
    background-color: #93D5E1;
    color: var(--signature-color);
}

#card-icon-container-3 .card-icon{
    border: solid #93D5E1;
    padding: 0px;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    overflow: hidden;
    background-color: var(--signature-color);
    border-radius: 50px;
    object-fit: cover;
    
}
#card-icon-container-3 .card-icon:nth-child(2){
    transform: rotate(0deg);
}

#card-icon-3-plus{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #93D5E1;
    font-size: 1.7rem;
}

#card-4{
    background-color: #D1EA5A;
    color: #1f1f21;
}

#card-4 .card-title{
    margin-top: 41%;
    font-size: 1.9rem;
}

#card-4 .card-footer{
    margin-top: 0px;
}

.featured-work-container{
    margin-top: 80px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.fw-title{
    min-width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.7rem;
    flex: 0 0 auto;
    text-wrap: nowrap;
    text-align: center; 
}

.fw-content-container{
    min-width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex: 1;
    margin-top: 50px;
}

.fw-pages{
    min-width: 50%;
}

.fw-portfolio-container{
    min-width: 50%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.fw-fcs-title{
    font-size: 0.8rem;
    font-weight: normal;
    opacity: 0.9;
    margin-bottom: 15px;
}

.fw-hr{
    width: 100%;
    border-color: #1f1f21;
    opacity: 0.5;
}

.fw-works{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

.fw-works:hover{
    background-color: hsl(240, 3%, 10%);
}

.fw-works-category{
    white-space: nowrap;
}

#about-me-container{
    margin-top: 100px;
    min-height: 100vh;
    width: calc(100% + 160px);
    background-color: #B8AFDC;
    transform: translateX(-80px);
    padding: 0px 80px;
    color: #1f1f21;
}

.am-title{
    min-width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.7rem;
    flex: 0 0 auto;
    text-wrap: nowrap;
    text-align: center;
    z-index: 100;
    padding: 80px 0px 20px 0px;
}

.am-content-container{
    min-width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex: 1;
    margin-top: 50px;
}

.am-page-number{
    min-width: 50%;
}

.fw-portfolio-container{
    min-width: 50%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    text-transform: capitalize;
}

.am-pc{
    min-width: 50%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    text-transform: capitalize;
}
.am-fcs-title{
    font-size: 0.8rem;
    font-weight: normal;
    opacity: 0.9;
    margin-bottom: 15px;    
}

.am-paragraph{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.am-page-number h1{
    font-weight: normal;
}

.am-page-number h1:nth-child(1){
    margin-top: 20px;
}
.am-content-container:nth-child(3){
    margin-top: 50px;
}

.am-fcs-link-container{
    height: 80px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.am-fcs-link-title{
    font-weight: normal;
}

.am-fcs-link-container a svg{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 50px;
    padding: 10px;
}

.am-hr{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.01px rgba(255, 255, 255, 0.274);
}

.my-resume-btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 100px;
}

.my-resume-btn{
    padding: 15px 40px;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border: none;
    box-shadow: 0px 0px 2px black;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}

.my-resume-btn:hover{
    background-color: #1f1f21;
}
.footer{
    min-height: fit-content;
    padding: 10px 0px;
}

.footer-logo a img{
    padding: 20px;
    height: 200px;
    width: 300px;

}

.back-to-top-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-scroll-icon{
    transform: rotate(270deg);
    margin-left: 10px;
}

.footer-copyright{
    font-size: 0.7rem;
    opacity: 0.9;
    text-align: center;
    margin-top: 10px;
}